<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="portfolio.TestComponents.Listeners" />
	</listeners>
	<test name="Contact Functionality">
		<classes>
			<class name="portfolio.test.ContactFunctionalityTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
